@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/*Mobile*/
@media screen and (max-width: 767px) {
    .service-container{
        width: 100%;
        margin: 30px 0px;
        padding: 5%;
    }
    
    .service-title {
        text-align: center;
        font-family: 'Acme', sans-serif;
        margin-bottom: 20px;
    }

    h2, p{
        text-align: center;
    }

    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 25px;
        padding: 20px;
        box-shadow: 0px 3px 10px #999;
        border-radius: 10px;
    }

    .row1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .row1-col1{
        order: 2;
    }

    .row1-col2{
        order: 1;
    }

    .row1-col3{
        order: 3;
    }

    .laptop{
        width: 200px;
    }
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .service-container{
        width: 100%;
        padding: 10%;
    }

    .row1{
        text-align: center;
    }
    
    .service-title {
        font-family: 'Acme', sans-serif;
        text-align: center;
        font-size: 50px;
    }

    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        padding: 40px;
        box-shadow: 0px 3px 10px #999;
        border-radius: 10px;
    }

    .row1{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .row1-col1{
        order: 2;
    }

    .row1-col2{
        order: 1;
    }

    .row1-col3{
        order: 3;
    }

    .square h2, p {
        text-align: center;
    }


    .laptop{
        height: 200px;
        padding: 20px 0px 10px 0px;
    }
}

/*Desktop*/
@media screen and (min-width: 1024px) {
    .service-container{
        width: 960px;
        height: 100vh;
        margin: auto;
    }
    
    .service-title {
        text-align: center;
        font-size: 60px;
    }

    .laptop{
        width: 330px;
        margin: 0px 10px;
    }

    .row1,
    .row2{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 150px;
        padding: 50px 25px;
        box-shadow: 0px 3px 10px #999;
        border-radius: 10px;
        margin: 0px 10px;
    }

    .square h2,
    p {
        text-align: center;
    }
}