:root {
    --shape-color: rgba(53, 122, 255, 0.4);
}

@media (max-width: 767px) {
    .about-container{
        margin: 30px 0px;
        padding: 5%;
    }

    .title{
        text-align: center;
    }

    .subtitle{
        text-align: center;
    }

    .col1{
        text-align: center;
    }

    .phone{
        width: 150px;
        margin: 30px 0px;
    }

    .shape1,
    .shape2,
    .shape3 {
        background-color: var(--shape-color);
        width: 100%;
        padding: 25px;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .about-container{
        width: 100%;
        padding: 10%;
    }

    .title{
        text-align: center;
    }

    .subtitle{
        text-align: center;
    }

    .col1{
        text-align: center;
    }

    .phone{
        width: 250px;
        margin: 30px 0;
    }

    .shape1{
        width: 100%;
        background-color: var(--shape-color);
        border-radius: 10px;
        padding: 30px 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .shape2{
        width: 100%;
        background-color: var(--shape-color);
        border-radius: 10px;
        padding: 30px 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .shape3{
        width: 100%;
        background-color: var(--shape-color);
        border-radius: 10px;
        padding: 30px 20px;
        margin-bottom: 30px;
        text-align: center;
    }
}

/* Desktop Laptop */
@media screen and (min-width: 1024px) {
    .about-container{
        width: 960px;
        padding: 5% 0;
        margin: auto;
    }
    
    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
        margin-bottom: 50px;
    }

    .row{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    .col2-row1{
        display: flex;
        justify-content: space-between;
    }

    .col2-row2{
        display: flex;
        justify-content: center;
    }

    .phone{
        width: 400px;
    }

    .shape1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--shape-color);
        width: 200px;
        height: 200px;
        padding: 10px;
        text-align: center;
        margin-right: 10px;
        border-bottom-left-radius: 80%;
        border-bottom-right-radius: 70%;
        border-top-left-radius: 60%;
        border-top-right-radius: 90%;
    }

    .shape2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--shape-color);
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
        margin-left: 20px;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 90%;
        border-top-left-radius: 90%;
        border-top-right-radius: 70%;
    }

    .shape3 {
        background: var(--shape-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 80px 20px;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 70%;
        border-top-left-radius: 60%;
        border-top-right-radius: 90%;
    }
}