:root {
    --shape-color: rgba(53, 122, 255, 0.4);
}

@media screen and (max-width: 767px) {
    .title{
        text-align: center;
    }

    .subtitle{
        text-align: center;
    }

    .phone{
        width: 200px;
        margin-bottom: 30px;
    }

    .shape1{
        width: 95%;
        margin: auto;
        text-align: center;
        background-color: var(--shape-color);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 30px 40px;
    }

    .shape2{
        width: 95%;
        margin: auto;
        text-align: center;
        background-color: var(--shape-color);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 30px 40px;
    }

    .shape3{
        width: 95%;
        margin: auto;
        text-align: center;
        background-color: var(--shape-color);
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 30px 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title{
        text-align: center;
    }

    .subtitle{
        text-align: center;
    }

    .phone{
        width: 200px;
    }

    .shape1{
        width: 500px;
        background-color: var(--shape-color);
        border-radius: 10px;
        padding: 30px 20px;
        margin-top: 20px;
        text-align: center;
    }

    .shape2{
        width: 500px;
        background-color: var(--shape-color);
        border-radius: 10px;
        padding: 30px 20px;
        margin-top: 20px;
        text-align: center;
    }

    .shape3{
        width: 500px;
        background-color: var(--shape-color);
        border-radius: 10px;
        padding: 30px 20px;
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        text-align: center;
    }

    .subtitle {
        text-align: center;
        margin-bottom: 50px;
    }

    .shape1 {
        background: var(--shape-color);
        width: 300px;
        height: 300px;
        text-align: center;
        padding: 100px 20px;
        margin-right: 10px;
        border-bottom-left-radius: 80%;
        border-bottom-right-radius: 70%;
        border-top-left-radius: 60%;
        border-top-right-radius: 90%;
    }

    .shape2 {
        background: var(--shape-color);
        width: 270px;
        height: 270px;
        text-align: center;
        padding: 90px 20px;
        margin-left: 20px;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 90%;
        border-top-left-radius: 90%;
        border-top-right-radius: 70%;
    }

    .shape3 {
        background: var(--shape-color);
        width: 250px;
        height: 250px;
        text-align: center;
        padding: 80px 20px;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 70%;
        border-top-left-radius: 60%;
        border-top-right-radius: 90%;
    }
}