/* Mobile */
@media screen and (max-width: 767px) {
    .home {
        height: 100vh;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023) {
    .home {
        height: 100vh;
    }

    .background {
        height: 80vh;
        background-image: url('../../assets/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position-y: 50px;
    }

    .text {
        height: 100%;
    }

    .text h1 {
        text-align: center;
        line-height: 100%;
        font-size: 50px;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {

    .home {
        height: 100vh;
    }

    .background {
        height: 80vh;
        background-image: url('../../assets/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-position-y: 50px;
    }

    .text {
        height: 100%;
    }

    .text h1 {
        text-align: center;
        line-height: 100%;
        font-size: 50px;
    }
}