@media (max-width: 767px) {
    
}

@media (min-width: 768px) and (max-width: 1023px){

}

@media (min-width: 1024px){
    .contact-container{
        width: 960px;
        margin: auto;
    }

    .contact{
        display: flex;
        justify-content: center
    }

    .socials{
        display: flex;
        justify-content: space-around;
    }
}